{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">{{ .Title }}</h1>
        <!-- <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span><br> -->
        {{ $baseurl := .Site.BaseURL }}
      </div>

      <article class="post-content">
      {{ .Content }}
      </article>

      <p class="post-meta">{{ i18n "tags" }}:&nbsp;
        {{ range $i, $e := .Params.tags }}
            {{if $i}},&nbsp;{{end}}
            <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </p>

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
