<div class="post">
  <a class="post-link" href="{{ .Permalink }}">
  <p class="post-meta left">{{ .Date.Format "Jan 2, 2006" }}</p>
    <div class="clearfix"></div>
  <h3 class="h2 post-title">{{ .Title }} {{ if .Draft }}(draft){{end}}</h3>
   <p class="post-summary">{{ .Summary }}</p> 
  </a>
  {{ $baseurl := .Site.BaseURL }}
  <p class="post-meta">{{ i18n "tags" }}:&nbsp;
  {{ range $i, $e := .Params.tags }}
      {{if $i}},&nbsp;{{end}}
      <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
  {{ end }}</p>
</div>
