<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Μακάμ Σουλτανί Γιεγκιάχ - Το Μουσικό Μποστάνι</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="http://igoumeninja.gitlab.io/hugo/post/sultani-yegah/">

  
  

  
  

  
  

  <link rel="stylesheet" type="text/css" href="http://igoumeninja.gitlab.io/hugo//css/combined-min.css">

</head>
<body class="">

<div class="site-wrap">
  <header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="http://igoumeninja.gitlab.io/hugo/" class="site-title">Το Μουσικό Μποστάνι</a>
      <nav class="site-nav right">
      <a href="http://igoumeninja.gitlab.io/hugo//about/">Αρχική</a>
<a href="http://igoumeninja.gitlab.io/hugo//search/">Αναζήτηση</a>
<a href="http://igoumeninja.gitlab.io/hugo//tags/">Λέξεις Κλειδιά</a>
<a href="http://igoumeninja.gitlab.io/hugo//contact/">Επικοινωνία</a>

      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>

  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">Μακάμ Σουλτανί Γιεγκιάχ</h1>
        
        
      </div>

      <article class="post-content">
      <p><blockquote class="imgur-embed-pub" lang="en" data-id="a/aq2Pv"><a href="//imgur.com/aq2Pv"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script></p>

<div id="theme-tagcloud" class="col-sm-12" style="margin-bottom: 15px;">
{{ $tags := $.Site.Taxonomies.tags.ByCount }}
{{ $v1 := where $tags "Count" ">=" 3 }}
{{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
{{ range $v2 }}
{{ if .Term }}
{{ $tagURL := printf "tags/%s" .Term | relURL }}
<a href="{{ $tagURL }}" class="btn btn-default" role="button" style="text-transform: uppercase; font-size: 12px; padding-right: 5px; padding-left: 5px;" >{{ .Term }} <span class="badge">({{ .Count }})</span></a>
{{ end }}
{{ end }}
</div>

      </article>

      <p class="post-meta">Λέξεις Κλειδιά:&nbsp;
        
            
            <a href="http://igoumeninja.gitlab.io/hugo//tags/makam">makam</a>
        
            ,&nbsp;
            <a href="http://igoumeninja.gitlab.io/hugo//tags/theory">theory</a>
        
            ,&nbsp;
            <a href="http://igoumeninja.gitlab.io/hugo//tags/dromoi">dromoi</a>
        
            ,&nbsp;
            <a href="http://igoumeninja.gitlab.io/hugo//tags/modes">modes</a>
        
            ,&nbsp;
            <a href="http://igoumeninja.gitlab.io/hugo//tags/sultani-yegah">sultani-yegah</a>
        
      </p>

      
<div id="disqus_thread">
  <script type="text/javascript">
     var disqus_shortname = "sitename";
     var disqus_identifier = "\/post\/sultani-yegah\/";

     (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
  </script>
</div>


    </div>
  </div>
</div>
    <footer class="footer">
      <div class="p2 wrap">
        <div class="measure mt1 center">
      <nav class="social-icons icons">
<a class="fa fa-rss rss" href="http://igoumeninja.gitlab.io/hugo/index.xml"></a>

<a class="fa fa-twitter twitter" href="https://twitter.com/igoumeninja"></a>

</nav>

          <small>
            Copyright &#169; 2017<br>
            Powered by <a href="http://gohugo.io/" target="_blank">Hugo</a> &amp; <a href="https://github.com/azmelanar/hugo-theme-pixyll" target="_blank">Pixyll</a>
          </small>
        </div>
      </div>
    </footer>

    
    <script src="http://igoumeninja.gitlab.io/hugo/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'XX-XXXXXXXX-X', 'auto');
  ga('send', 'pageview');

</script>



</body>
</html>

