{{ partial "head.html" . }}
<div class="site-wrap">
    {{ partial "header.html" . }}
    {{ if isset .Site.Params "description" }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <div class="home">
                <div class="posts">
                    {{ if isset .Site.Params "paginate" }}
                        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
                    {{ range $paginator.Pages.ByDate.Reverse }}
                    {{.Content}}
                      <!--  {{ .Render "summury" }}-->
                        {{ end }}
                </div>
            </div>
            <!--
            <div class="paginatin_area">
                        {{ partial "pagination.html" . }}
                        {{ template "_internal/pagination.html" . }} 
            </div>
            -->
            
                    {{ else }}
                        {{ range first 10 .Data.Pages.ByDate.Reverse }}
                            {{ if eq .Type "post" }}
                                {{ .Render "summary"}}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}


